:root {
  --blue-100: hsl(240, 42%, 90%);
  --blue-200: hsl(240, 18%, 77%);
  --blue-600: hsl(240, 38%, 20%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 2rem;
  color: var(--blue-600);
  font-family: 'Inter', sans-serif;
  background: url(./images/pattern-curve.svg) no-repeat;
  background-position: bottom left;
}

.sr-only {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

.container {
  max-width: 1100px;
  max-height: 570px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* ABOUT */
/* ==================================================== */
main {
  overflow: hidden;
  width: 100%;
  min-height: calc(100vh - 1px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-wrap {
  position: relative;
  display: flex;
  align-items: center;
  background: url(./images/pattern-quotes.svg) no-repeat;
  background-position: 25% 15%;
}

.about-content {
  position: absolute;
  width: 100%;
  animation: slide-right 1.2s;
  z-index: 100;
  transition: all 0.8s;
}
.about-content.out {
  transform: translate(-300px);
  opacity: 0;
}

blockquote {
  /* max-width: 630px; */
  width: 630px;
  font-weight: 300;
}

strong {
  display: inline-block;
  margin-top: 3rem;
  font-size: 1.5rem;
  font-weight: 700;
}

span {
  font-weight: 500;
  color: var(--blue-200);
}

/* IMAGE SLIDER */
/* ============================================================ */
.image-control {
  position: relative;
}

.image-control::before {
  content: url(./images/pattern-bg.svg);
  position: absolute;
  transform: translateX(-10%) translateY(-10%);
  z-index: -1;
}

.picture img {
  width: 100%;
  border-radius: 8px;
  animation: slide-rotate 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.picture img.out {
  transform-origin: top;
  transform: rotate(-45deg) translate(100px);
  opacity: 0;
}

.group-button {
  position: absolute;
  display: flex;
  bottom: -1.25rem;
  left: 60px;
  border-radius: 1.75rem;
  box-shadow: 0 0.5rem 2rem var(--blue-200);
  overflow: hidden;
}

.btn {
  border: none;
  background-color: white;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: var(--blue-100);
}

@keyframes slide-rotate {
  from {
    opacity: 0;

    transform: rotate(20deg) translate(-40px);
    transform-origin: bottom;
  }

  to {
    opacity: 1;
    transform: rotate(0) translate(0);
    transform-origin: bottom;
  }
}

@keyframes slide-right {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
