:root {
  --blue-600: hsl(240, 38%, 20%);
  --blue-200: hsl(240, 18%, 77%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 2rem;
  color: var(--blue-600);
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sr-only {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

.container {
  max-width: 1100px;
  max-height: 570px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* ABOUT */
/* ==================================================== */

.about-wrap {
  position: relative;
  display: flex;
  align-items: center;
}

.about-content {
  position: absolute;
  width: 100%;
  animation: slide-right 1.2s;
  z-index: 100;
}
.about-content.out {
  animation: slide-right 1.4s reverse;
}

blockquote {
  width: 120%;
  font-weight: 300;
}

/* IMAGE SLIDER */
/* ============================================================ */

.image-control {
}

img {
  width: 100%;
  border-radius: 8px;
  animation: slide-rotate 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
img.out {
  animation: lide-rotate 1s reverse;
}

@keyframes slide-rotate {
  from {
    opacity: 0;

    transform: rotate(20deg) translate(-40px);
    transform-origin: bottom;
  }

  to {
    opacity: 1;
    transform: rotate(0) translate(0);
    transform-origin: bottom;
  }
}

@keyframes slide-right {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
